@tailwind base;
@tailwind components;
@tailwind utilities; 


:root {
  --background: #ffffff;
  --foreground: #323138;
  --primary:  #501519;
  --secondary:#BD9F7F;
  --tertiary:#F4F4F4;

}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, Plus_Jakarta_Sans ;
}

.custom-pagination .swiper-pagination-bullet {
  width: 0.75rem; 
  height: 0.75rem; 
  background-color: var(--foreground); 
  opacity: 0.7; 
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: var(--secondary); 
  opacity: 1; 
}

.cstm-pagination .swiper-pagination-bullet {
  width: 0.5rem; 
  height: 0.5rem; 
  background-color: var(--foreground); 
  opacity: 0.7; 
}
.cstm-pagination .swiper-pagination-bullet-active {
  background-color: var(--secondary); 
  opacity: 1; 
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
